# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.idea/
.xmake/
cmake-build-debug/
*.sh
*.cbp
Testing/
Makefile
Vendor/llvm-project
Vendor/mono
Vendor/miniaudio
Vendor/qoi
Vendor/meshoptimizer
Vendor/VulkanMemoryAllocator

.cache/

CMakeFiles/

Vendor/

cmake_install.cmake

compile_commands.json

SPIRV-Headers.pc

SPIRV-Tools-diffConfig.cmake

SPIRV-Tools-linkConfig.cmake

SPIRV-Tools-lintConfig.cmake

SPIRV-Tools-optConfig.cmake

SPIRV-Tools-reduceConfig.cmake

SPIRV-ToolsConfig.cmake

todo.md
imgui.ini